<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>

    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/local/search_address">
            로컬 ( 주소 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/video">
            로컬 ( 좌표로 행정구역정보 받기 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/image">
            로컬 ( 좌표로 주소 변환하기 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/blog">
            로컬 ( 좌표계 반환 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/book">
            로컬 ( 키워드로 장소 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/cafe">
            로컬 ( 카테고리로 장소 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    
    
</body>

</html>
