<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>

    <div class="tsh" style="padding-top:7.5%">
        <form  method="post" action="/local/category">
           로컬 ( 카테고리로 장소 검색 )
            검색하실 카테고리를 입력해주세요 :  <input type="text" name="query" value=""><br>
            <button type="submit">검색하기</button>
            <button type="reset">내용 리셋하기</button>
            
          
        </form>

      </div>
    
    <table border="1">
                <thead align = "center">
                    <tr>
                        <th>카테고리 코드</th>
                        <th>코드 설명</th>
                    </tr>               
                </thead>
                <tbody align = "center">
                    <tr>
                        <td>MT1</td>
                        <td>대형마트</td>
                    </tr>
                    <tr>
                        <td>CS2</td>
                        <td>편의점</td>
                    </tr>
                    <tr>
                        <td>PS3</td>
                        <td>어린이집, 유치원</td>
                    </tr>
                    <tr>
                        <td>SC4</td>
                        <td>학교</td>
                    </tr>
                    <tr>
                        <td>AC5</td>
                        <td>학원</td>
                    </tr>
                    <tr>
                        <td>PK6</td>
                        <td>주차장</td>
                    </tr>
                    <tr>
                        <td>OL7</td>
                        <td>주유소, 충전소</td>
                    </tr>
                    <tr>
                        <td>SW8</td>
                        <td>지하철역</td>
                    </tr>
                    <tr>
                        <td>BK9</td>
                        <td>은행</td>
                    </tr>
                    <tr>
                        <td>CT1</td>
                        <td>문화시설</td>
                    </tr>
                    <tr>
                        <td>AG2</td>
                        <td>중개업소</td>
                    </tr>
                    <tr>
                        <td>PO3</td>
                        <td>공공기관</td>
                    </tr>
                    <tr>
                        <td>AT4</td>
                        <td>관광명소</td>
                    </tr>
                    <tr>
                        <td>AD5</td>
                        <td>숙박</td>
                    </tr>
                    <tr>
                        <td>FD6</td>
                        <td>음식점</td>
                    </tr>
                    <tr>
                        <td>CE7</td>
                        <td>카페</td>
                    </tr>
                    <tr>
                        <td>HP8</td>
                        <td>병원</td>
                    </tr>
                    <tr>
                        <td>PM9</td>
                        <td>약국</td>
                    </tr>
                
                </tbody>
                
            </table>
   
    
    
    
</body>

</html>
