<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>

    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="post" action="/local/coord2address">
           로컬 ( 좌표로 주소 정보 받기 )<br>
            x 좌표 :  <input type="text" name="x" value=""><br>
            y 좌표 :  <input type="text" name="y" value=""><br>
            <button type="submit">검색하기</button>
            <button type="reset">내용 리셋하기</button>
          
        </form>

      </div>
    
     <h3>
        예시 데이터<br>
        
        x좌표 : 127.1388056<br>
        y좌표 : 37.4354761
    </h3>
    
    
    
</body>

</html>
