<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      // @details 카카오톡 Developer API 사이트에서 발급받은 JavaScript Key
      Kakao.init("c242298ca638ef9255d40916e81a9b03");

      // @breif 카카오 로그인 버튼을 생성합니다.
      Kakao.Auth.createLoginButton({
        container: "#kakao-login-btn",
        success: function(authObj) {
             console.log( authObj );
            Kakao.API.request({
              url: "/v2/user/me",
              success: function(res) {
                 console.log( "res",res );
                // @breif 아이디
                document.getElementById("kakaoIdentity").innerHTML = res.id;
                // @breif 닉네임
                document.getElementById("kakaoNickName").innerHTML = res.properties.nickname;
                // @breif 프로필 이미지
                document.getElementById("kakaoProfileImg").src = res.properties.profile_image;
                // @breif 썸네일 이미지
                document.getElementById("kakaoThumbnailImg").src = res.properties.thumbnail_image;
                  // @breif 버전2 닉네임
                document.getElementById("kakaoNickName2").innerHTML = res.kakao_account.profile.nickname;
                  // @breif 이메일
                document.getElementById("kakaoEmail").innerHTML = res.kakao_account.email;
                  // @breif 연령대
                document.getElementById("kakaoAgeRange").innerHTML = res.kakao_account.age_range;
                  // @breif 생일
                document.getElementById("kakaoBirthday").innerHTML = res.kakao_account.birthday;
                  // @breif 태어난 해
                document.getElementById("kakaoBirthyear").innerHTML = res.kakao_account.birthyear;
                  // @breif 성별
                document.getElementById("kakaoGender").innerHTML = res.kakao_account.gender;
                  // @breif 전화번호
                document.getElementById("kakaoPhoneNumber").innerHTML = res.kakao_account.phone_number;
                  // @breif 배송지 정보
                document.getElementById("kakaoCi").innerHTML = res.kakao_account.ci;
                alert("로그인 완료")
                console.log(res)
              },
              fail: function(error) {
                alert(JSON.stringify(error));
              }
            });
            var token = authObj.access_token;
            console.log("token: ", token);
          }
          ,
        fail: function(error) {
          alert(JSON.stringify(error));
        }
      });
    });
    function kakaoLogout() {
		Kakao.Auth.logout(function(response) {
			alert(response + 'logout');
		}); 
    }  
      
  </script>
    
</head>

<body>
  <div>카카오 아이디 : <span id="kakaoIdentity"></span></div>

  <div>닉네임 : <span id="kakaoNickName"></span></div>

  <div>프로필 이미지 : <img id="kakaoProfileImg" src="" /></div>

  <div>썸네일 이미지 : <img id="kakaoThumbnailImg" src="" /></div>

  <div>닉네임2 : <span id="kakaoNickName2"></span></div>
    
    <div>이메일 : <span id="kakaoEmail"></span></div>
    
    <div>연령대 : <span id="kakaoAgeRange"></span></div>
    
    <div>생일 : <span id="kakaoBirthday"></span></div>
    
    <div>태어난 해 : <span id="kakaoBirthyear"></span></div>
    
    <div>성별 : <span id="kakaoGender"></span></div>
    
    <div>전화번호 : <span id="kakaoPhoneNumber"></span></div>
    
    <div>배송지 정보 : <span id="kakaoCi"></span></div>
    
    
    
    
  <br />

  <a id="kakao-login-btn"></a>

    <a onclick="kakaoLogout();">카카오 로그아웃</a>

</body>

</html>
