<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>

    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/map/search_keyword">
            지도 ( 키워드로 장소 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/map/search_keyword_list">
            지도 ( 키워드로 장소 검색하고 목록으로 표출하기 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/map/search_category">
            지도 ( 카테고리로 장소 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/local/transcoord">
            지도 ( 카테고리별 장소 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/local/keyword">
            지도 ( 키워드로 장소 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/local/category">
            지도 ( 카테고리로 장소 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    
    
</body>

</html>
