<!DOCTYPE html>
<html>

<head>
  <title>Kakao rest api</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <h1>
        사용자 목록 받기
    </h1><br>

    <h2> 회원번호 목록 : <%= elements %> </h2>
    <h2> 앱의 총 사용자 수 : <%= total_count %> </h2>
    
    
    

</body>

</html>