<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>

    <h1>
        사용자 정보 가져오기
    </h1>
    
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/oauth/user_info/token">
            <button type="submit">유저토큰으로 가져오기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/oauth/user_info/admin">
            <button type="submit">어드민 키로 가져오기</button>
        </form>

      </div>
    
    
   

    
</body>

</html>
