<!DOCTYPE html>
<html>

<head>
  <title>Kakao rest api</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <h1>
        갱신된 토큰 정보 보기
    </h1><br>
    <h2>
        사용자 ID 타입, user_id로 고정: <%= target_id_type %>
    </h2>
    <h2>
        회원번호 : <%= target_id %>
    </h2>
      </div>
    
    

</body>

</html>