<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/pose/imageAnalysis">
            포즈 ( 이미지 분석하기 )
            <button type="submit">이동하기</button>
        </form>
    </div>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/pose/job">
            포즈 ( 영상 분석하기 )
            <button type="submit">이동하기</button>
        </form>
    </div><div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/pose/job_result">
            포즈 ( 영상 분석 결과 확인하기 )
            <button type="submit">이동하기</button>
        </form>
    </div>
    

    
</body>

</html>
