<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>

    <div class="tsh" style="padding-top:7.5%">
        <form  method="post" action="/search/image">
            Daum 검색 ( 이미지 검색 )
            검색하실 키워드를 입력해주세요 :  <input type="text" name="query" value=""><br>
            <button type="submit">검색하기</button>
            <button type="reset">내용 리셋하기</button>
          
        </form>

      </div>
    
    
    
</body>

</html>
