<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>

    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/web">
            Daum 검색 ( 웹문서 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/video">
            Daum 검색 ( 동영상 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/image">
            Daum 검색 ( 이미지 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/blog">
            Daum 검색 ( 블로그 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/book">
            Daum 검색 ( 책 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form name="get_story_profile" method="get" action="/search/cafe">
            Daum 검색 ( 카페 검색 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    
    
</body>

</html>
