<!DOCTYPE html>
<html lang="kor">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stylish Portfolio - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">


</head>

<body id="page-top">


  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#page-top">카카오 API NAV</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/search">검색</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/voice">음성</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/vision">비전</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/pose">포즈</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/social">카카오톡 소셜</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/local">로컬</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/map">지도</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/story">스토리</a>
      </li>

    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container text-center">
      <h1 class="mb-1">스미스그라운드 카카오 API</h1>
      <h3 class="mb-1">
        <em>카카오 API 다써보자</em>
      </h3>
    </div>

  </header>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">인공지능 API</h3>
        <h2 class="mb-5">Daum 검색</h2>
      </div>
      <div class="row mb-5">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>웹문서 검색</strong>
          </h4>
          <a class="btn btn-primary btn-xl mt-3" href="/search/web">Search Now!</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>동영상 검색</strong>
          </h4>
          <a class="btn btn-primary btn-xl mt-3" href="/search/video">Search Now!</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>이미지 검색</strong>
          </h4>
            <a class="btn btn-primary btn-xl mt-3" href="/search/image">Search Now!</a>
        </div>

      </div>
      <div class="row ">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>블로그 검색</strong>
          </h4>
          <a class="btn btn-primary btn-xl mt-3" href="/search/blog">Search Now!</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>책 검색</strong>
          </h4>
          <a class="btn btn-primary btn-xl mt-3" href="/search/book">Search Now!</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>카페 검색</strong>
          </h4>
            <a class="btn btn-primary btn-xl mt-3" href="/search/cafe">Search Now!</a>
        </div>

      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#!">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>



</body>

</html>
