<!DOCTYPE html>
<html>

<head>
  <title>Kakao rest api</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <h1>
        카카오톡 프로필 가져오기
    </h1><br>

    <h2> 카카오톡 닉네임 : <%= nickName %> </h2>
    <h2> 카카오톡 프로필 이미지 URL : <%= profileImageURL %> </h2>
    <h2> 카카오톡 프로필 썸네일(Thumbnail) 이미지 URL : <%= thumbnailURL %> </h2>
    <h2> 사용자가 카카오톡을 이용 중인 국가 : <%= countryISO %> </h2>


</body>

</html>