<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>
    <div>사용자 확인하기 : <%= check %></div>
    <div class="tsh" style="padding-top:7.5%">
        <form  method="get" action="/story/get_profile">

              <p>
                  사용자 확인이 true일 경우에만 아래 버튼을 눌러주세요!
            </p>
            <p>
                  false일 경우 메인화면으로 돌아갑니다!
            </p>
            <button type="submit">카카오스토리 프로필 가져오기</button>
          
        </form>

      </div>
    
    
    
</body>

</html>
