<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>

    <h2>
                카카오 스토리 작성하기!
            </h2>
        <br>
    <div>
        <form  method="post" action="/story/write_text">
            카카오 스토리에 올릴 내용을 작성해주세요!(최대2048자)
            작성 :  <input type="text" name="content" value=""><br>
            <button type="submit">등록하기</button>
            <button type="reset">내용 리셋하기</button>
          
        </form><br><br>

      </div>
        <div>
        <form method="get" action="/story/writeWithImage">
            이미지와 함께 작성하시겠습니까?
            <button type="submit">이동하기</button>
          
        </form><br><br>

      </div>
    <div>
        <form  method="get" action="/story/get_mystory">
            <h2>
                방금 작성한 스토리를 조회하시겠습니까?
            </h2>
            <button type="submit">지정 스토리 조회하기</button>
        </form>
      </div><br><br>
        <div>
        <form  method="get" action="/story/get_mystories">
            <h2>
                내 스토리를 모두 조회하시겠습니까?
            </h2>
            <button type="submit">여러 스토리 조회하기</button>
        </form>
      </div>
    
    
</body>

</html>
