<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>

    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/translation/translate">
            번역 ( 문장 번역하기 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/translation/language_detect">
            번역 ( 언어 감지하기 )
            <button type="submit">이동하기</button>
        </form>

      </div>
    
    
    
</body>

</html>
