<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
 
</head>

<body>
        
    <h2>
            요청하신 썸네일 생성 결과를 보여드리겠습니다.
        </h2>
    
        <div>썸네일 생성 url : <%= thumbnail_image_url %></div><br><br>
    

</body>

</html>
