<!DOCTYPE html>
<html>

<head>
  <title>KakaoLink v2 Demo(Default / Feed) - Kakao JavaScript SDK</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  
    
</head>

<body>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/vision/face">
            비전 ( 얼굴 검출 )
            <button type="submit">이동하기</button>
        </form>
    </div>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/vision/product">
            비전 ( 상품 검출 )
            <button type="submit">이동하기</button>
        </form>
    </div>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/vision/adult">
            비전 ( 성인 이미지 판별 )
            <button type="submit">이동하기</button>
        </form>
    </div>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/vision/thumbnailCrop">
            비전 ( 썸네일 생성 )
            <button type="submit">이동하기</button>
        </form>
    </div>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/vision/thumbnailDetect">
            비전 ( 썸네일 검출 )
            <button type="submit">이동하기</button>
        </form>
    </div>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/vision/multitag">
            비전 ( 멀티 태그 생성 )
            <button type="submit">이동하기</button>
        </form>
    </div>
    <div class="tsh" style="padding-top:7.5%">
        <form method="get" action="/vision/ocr">
            비전 ( OCR(Optocal Character Recongnition) )
            <button type="submit">이동하기</button>
        </form>
    </div>
    

    
</body>

</html>
